In [3]:
import pandas as pd

In [4]:
df = pd.read_json('intelectual_production.jl', lines=True)['site_id'].astype(int)

In [5]:
df

0      130627
1      130629
2      130628
3      130630
4      130727
        ...
275    130902
276    130904
277    130905
278    130903
279    130906
Name: site_id, Length: 280, dtype: int64

In [9]:
# df = pd.Series(range(80000,900000))
df = df.append(pd.Series(range(80000,200000)), ignore_index=True)

In [4]:
df = df.drop_duplicates(keep=False)

In [5]:
df

3362       80253
3366       80257
3368       80259
3371       80262
3373       80264
           ...
823104    899995
823105    899996
823106    899997
823107    899998
823108    899999
Length: 816891, dtype: int64

In [ ]:
for i in df:
    print(i)